.card {
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    padding: 0px 10px;

}

@keyframes animationHover {

    50% {
        rotate: 5deg;
    }

}

.card:hover {
    background-color: #1b1b1b;
    animation: animationHover .3s linear;
}

.card img {
    width: 200px;
    border-radius: 5px;
}

.btnDescrition {
    background-color: #008000;
    width: 100%;
    height: 50px;
    border: none;
    margin: 5px 0;
    color: #fff;
    border-radius: 5px;
}

.btnDescrition:hover {
    background-color: #005800;
}

.vote {
    background-color: #252525;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descrition {
    padding: 5px;
    text-align: justify;
    padding-right: 15px;
    min-height: 300px;
}