.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #910000;
    padding: 10px 0 10px 0;
    font-size: 1.2em;
}

.logo{
    margin-left: 20px;

}

.pointerLogo{
    color: #000;
}

.navBar nav ul{
    display: flex;
    justify-content: end;
    margin: 0;
    padding:10px;
}
.navBar nav ul li{
    margin: 10px;
    list-style: none;

}
.navBar nav  ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}

.navBar nav ul li a:hover{
    color: #d9ff00;
}