html {
    scroll-behavior: smooth;
  }

.container{
    display: flex;
    flex-direction: column;
  
}
.cardsContainer{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




.btnPage{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
}

.btnPage:hover{
    background-color: #303030;
   
    color: #fff;
}

.page{
    margin: 0 20px;
    text-align: center;
}

.currentPage{
    background-color: green;
    padding: 5px;
    border-radius: 2px;
}